<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
  </head>
  <body></body>
</html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Вход</title>
  </head>
  <body>
    <h2>Вход в аккаунт</h2>

    <!-- Форма входа -->
    <form action="/authentication" method="post">
      <!-- Номер телефона -->
      <p>
        <label>Номер телефона:</label>
        <input type="text" name="number_phone" required />
      </p>

      <!-- Пароль -->
      <p>
        <label>Пароль:</label>
        <input type="password" name="password" required />
      </p>

      <!-- Кнопка -->
      <button type="submit">Войти</button>
    </form>

    <p>
      <a href="/registration">Зарегистрироваться</a>
    </p>
  </body>
</html>
